<div class="container">
  <h1 style="text-align: center;">Angular 16</h1>
  <br>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary me-2" routerLink="/">Home</button>
    <button type="button" class="btn btn-outline-primary me-2" routerLink="/signals">Signals</button>
    <button type="button" class="btn btn-outline-primary me-2" routerLink="/signals-rxjs">RxJS toSignal</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/ng-template-outlet">ngTemplateOutlet</button>
  </div>
</div>
<hr>
<div class="container">
  <router-outlet></router-outlet>
</div>
